.DS_Store
project/
project_downsampling/
project_sharded/
project_cytosol_only/
project_cytosol_only_custom_segmentation/
project_cytosol_only_sharded/
project_cropped_rois/
project_WGA/
local/
debug_plot_*

